
a{
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}


h1{
    font-size: 3.5em; 
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;

}
p{
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    color: aliceblue;
    
}

h2{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.unique{
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
    
}


.lsize{
    font-size: 1em;
}


#logo{
    /* Nothing */
}
em{
    color: #A5B4FC;
}
.dec1{
    text-decoration: none;
}
.dec2{
    text-decoration: none;
}
.dec3{
    text-decoration: none;
}

.top-color{
    background-color: white;
}




.dalign{
    text-align: center;
}

.setting{
    color: black;
    text-decoration: none;
}

.hover:hover{
    text-decoration: underline;
}




.elem1{
    color: aliceblue;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    background: linear-gradient(#8E86B5, #ACAEED);
    border-radius: 50px 50px 50px 50px;
    padding: 15px;
    text-decoration: none
    
}

.survol:hover{
    background: linear-gradient(#696484, #8788BA);
}


.paragraph-size{
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
}

.space{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container1{
    display: flex;
    padding: 20px 50px 20px 50px;   
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}



.container2{
    display: flex;
    padding: 80px 30px 80px 30px;
    justify-content: center;
    gap: 80px;
    background-color: #1F2039;

}
.container3{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px; 
}


.container5{
    display: flex;
    padding: 20px 50px 20px 50px;
    justify-content: space-between;   
    
}
.cta{
    display: inline-block;
}

.opacity:hover
{
    opacity: 0.5;
}

.container4{
    display: flex;
    justify-content: center;
}

.container4 ul{
    list-style: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}

.container5{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.container5 ul{
    list-style: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    

}

.nom{
    border: 3px solid #1F2039;
    border-radius:10px;
    height: 40px;
    width: 420px;
    padding: 3px;
    
    
}

.email{

    border: 3px solid #1F2039;
    border-radius:10px;
    height: 40px;
    width: 420px;
    padding: 3px;

}

textarea{
    border: 3px solid #1F2039;
    border-radius:10px;
    height: 180px;
    width: 950px;
    padding: 3px;
}

.submit{
    background: linear-gradient(#8E86B5, #ACAEED);
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    border-radius: 40px 40px 40px 40px;
    padding: 15px;
    color: aliceblue;
    height: 50px;
    width: 150px;
    margin-bottom: 90px;
    
}
.submit:hover{
    background: linear-gradient(#696484, #8788BA); 
}



.fond{
    background-color:#1F2039;
    color: white;
    
    
}

.envoyer{
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    
}

